# Example InfluxDB configuration file
#
# Fill it so it would point to your preferred
# InfluxDB host and database.

defaults: &defaults
  host: <%= ENV['INFLUXDB_HOST'] || '127.0.0.1' %>
  port: <%= ENV['INFLUXDB_PORT'] || 8089 %>

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
