<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>KOFTA</strong> by <a href="http://github.com/spijet">Serge Tkatchouk</a> and friends.
                The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
            </p>
            <p>
                Backend uses:
                <ul>
                    <li><strong>InfluxDB::Client</strong> by
                        <a href="https://github.com/toddboom">Todd Persen</a> and <a href="https://github.com/dmke">Dominik Menke</a>.
                        The source code is licensed
                        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.</li>
                    <li><strong>Net::SNMP</strong> by <a href="https://github.com/hallidave">David R. Halliday</a>.
                        The source code is licensed
                        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
                    </li>
            </p>
            <p>
                Web interface uses <strong>Bulma CSS</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
            </p>
        </div>
    </div>
</footer>
