<header class="header">
    <div class="container">
        <!-- Left side -->
        <div class="header-left">
            <%= link_to 'KOFTA', '/', class: "header-item" %>
            <%= link_to 'Devices', devices_path, class: "header-tab" %>
            <%= link_to 'Data Sources', datatypes_path, class: "header-tab" %>
        </div>
    </div>
</header>
