<aside class="menu">
  <p class="menu-label">
    Devices
  </p>
  <ul class="menu-list">
    <li><%= link_to 'List Devices', devices_path  %></li>
    <li><%= link_to 'Add New Device', new_device_path  %></li>
  </ul>
  <p class="menu-label">
    Data Sources
  </p>
  <ul class="menu-list">
    <li><%= link_to 'List Datasources', datatypes_path %></li>
    <li><%= link_to 'Add New Datasource', new_datatype_path %></li>
  </ul>
</aside>
