<div class="container">
    <div class="columns">
        <div class="column is-one-third">
            <%= render 'side_menu' %>
        </div>
        <div class="column">
            Will add some stuff here later.
        </div>
    </div>
</div>
