<div class="container">
    <div class="columns">
        <div class="column is-one-third">
            <%= render 'side_menu' %>
        </div>
        <div class="column">
            <p>Will add some stuff here later.</p>
            <p>As for now, take a look at the query queue (powered by rufus):</p>
            <% $query_scheduler.jobs.each do |job| %>
                <p><strong><%= Device.find(job.tags.first).address %></strong> is scheduled to run every <%= job.frequency %> seconds.</p>
                <% end %>
                <p><%= simple_format(GC.stat.to_s) %></p>
        </div>
    </div>
</div>
