<h1 class="title">Welcome to KOFTA!</h1>
<p>
    Please, select the desired page or action to start.
</p>
<div class="is-hidden-desktop">
    <hr class="is-marginless"/>
    <%= render 'side_menu' %>
</div>
