<h1>Following devices have been imported:</h1>
<table class="table is-striped is-narrow">
  <thead>
    <tr>
      <th>Device Name</th>
      <th>City</th>
      <th>Contact</th>
      <th>Group</th>
      <th>IP Address/Hostname</th>
      <th>Query Interval</th>
      <th>SNMP Community</th>
      <th>Vendor</th>
    </tr>
  </thead>

  <tbody>
    <% @data.each do |device| %>
      <tr>
        <% device.each do |key,value| %>
          <td><%= value %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
